#form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.icones {
    width: 18px;
}

#form .botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px; 
}