#cashback-form {
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(auto);
    grid-column-gap: 1rem;
}

.icones {
    width: 18px;
}

#cashback-form .botoes {
    display: flex;
    gap: 10px;
    grid-column: 1 / -1;
    justify-content: center;
    margin-top: 10px; 
}